.bg-container {
  background-color: #ffd569;
  padding: 10px;
  height: 100vh;
  display: flex;

  flex-direction: column;

  align-items: center;
  padding: 30px;
}
.card {
  background-color: #ffffff;
  width: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 50px;
}
.heading {
  font-family: 'Roboto';
  font-size: 40px;
  color: #000000;
  font-weight: bold;
  margin: auto;
}
.eat {
  font-family: 'Roboto';
  font-size: 30px;
  color: #ffd569;
  font-weight: bold;
}
.fruits-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
}
.banana-container {
  display: flex;
  flex-direction: column;
}
.mango-container {
  display: flex;
  flex-direction: column;
}
.image {
  height: 200px;
  width: 200px;
}
.button {
  border-width: 0px;
  background-color: #0b69ff;
  color: #ffffff;
  padding: 10px;
  border-radius: 7px;
  margin-top: 10px;
  width: 100px;
  height: 35px;
  align-self: center;
}

@media screen and (max-width: 576px) {
  .image {
    height: 100px;
    width: 100px;
  }
}
