.bg-container {
  background-color: #ffd569;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;
  width: 80%;
  padding: 20px;
}
.heading {
  font-size: 30px;
  font-family: 'Roboto';
  color: #000000;
  font-weight: bold;
}
.fruits-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}
.image {
  height: 200px;
  width: 200px;
}
.button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 7px;
}
.mango-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 576px) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .bg-container {
    background-color: #ffd569;
    padding: 10px;
  }
  .fruits-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
  }
}
